doctype html
html(lang="de")
  head
    title Wochenplan
    include includes/meta.pug
    link(rel="stylesheet", href="/css/plan.css")
  body
    - var page = 'plan'
    include includes/nav.pug
    if !week
      .container
        .form-wrapper
          form(action="/plan", method="get")
            label(for="code", )
              | Um den Wochenplan nutzen zu können, gib hier bitte einen Code ein. Dieser Code wird verwendet, um deinen Wochenplan eindeutig zu identifizieren, daher such dir am besten einen einzigartigen und ausgefallenen Code aus.
              br
              | Falls du den gleichen Wochenplan auf einem anderen Gerät verwenden oder mit jemandem zusammen benutzen möchtest, einfach dort den gleichen Code eingeben und der Plan synchronisiert sich automatisch!
            input(type="text", name="code", placeholder="Wochenplan Code")
            button(type="submit") Bestätigen
    else
      a#new-entry(href="/plan/new") +
      #plan-nav-wrapper
        #plan-nav.container
          a(href=`/plan?week=${offset - 1}`)
            svg.icon
              use(xlink:href='#icon-arrow-left2')
          span= offset === 0 ? 'Diese Woche' : `Woche ${offset}`
          a(href=`/plan?week=${offset + 1}`)
            svg.icon.flipped
              use(xlink:href='#icon-arrow-left2')
      #plan
        each day in week
          .day
            a.date(href=`/plan/new/?date=${+day.date}`)= day.dateString
            each entry in day.entries
              .entry
                .data
                  .meta #{entry.time} | #{entry.servings} Person#{entry.servings !== 1 ? 'en' : ''}
                  if entry.custom
                    .title= entry.custom
                  else
                    a.title(href=`/recipe/${entry.recipe.id}?servings=${entry.servings}`)= entry.recipe.title
                .controls
                  a(href=`/plan/edit?id=${entry._id}`)
                    svg.icon
                      use(xlink:href='#icon-pencil')
    include icons/arrow.pug
    include icons/edit.pug
