doctype html
html(lang="de")
  head
    title= recipe.title
    include includes/meta.pug
    link(rel="stylesheet", href="/css/recipe.css")
  body
    .container
      #all-recipes
        a(href="/")
          svg.icon.icon-arrow-left2
            use(xlink:href='#icon-arrow-left2')
          | Alle Rezepte
      h1.recipe-title= recipe.title
      if recipe.heroImage
        img.recipe-img(
          src=recipe.heroImage.replace('w:2000', 'w:600'),
          srcset=`${recipe.heroImage.replace('w:2000', 'w:600')} 600w, ${recipe.heroImage} 2000w`,
          sizes="(max-width: 650px) 600px, 2000px"
          alt=recipe.title
        )
      .recipe-info
        div.duration #{recipe.duration} Minuten
        .categories
          each ctg in recipe.categories
            span= ctg
      .recipe-main
        div
          h2.servings-header
            span Zutaten
            .servings-control
              button.down -
              span#servings(data-original=recipe.servings)= servings
              button.up +
          ul#ingredients(data-listcode=session.listCode)
            each ingr in recipe.ingredients
              li
                .content
                  span.name(data-name=ingr.name)= ingr.name
                  span.hint= ingr.hint ? ` (${ingr.hint})` : ''
                if session.listCode
                  button.cart
                    svg.icon
                      use(xlink:href='#icon-add_shopping_cart')
        div
          h2 Zubereitung
          .border-bottom
          div.description !{descriptionHtml}
      #buttons
        if session.authenticated
          a.button(href=`/recipe/${recipe._id}/edit`) Bearbeiten
        a.button(href=`/pdf/recipe/${recipe._id}` download) PDF
    if session.listCode
      div#toast Testenenenenene
    script(src="/scripts/lib/recipe.js")
    include includes/arrow-icon.pug
    include includes/cart-icon.pug