doctype html
html(lang="de")
  head
    title= recipe.title || 'Neues Rezept'
    include includes/meta.pug
    link(rel="stylesheet", href="/css/recipe-form.css")
    script(src="https://ucarecdn.com/libs/widget/3.6.1/uploadcare.full.min.js", charset="utf-8")
  body
    .container
      if recipe.image
        - var imgUrl = (width) => recipe.image.concat(`-/resize/${width}x/`, `-/quality/lighter/`, '-/progressive/yes/')
        img.recipe-img(
          src=recipe.image,
          srcset=`${imgUrl(800)} 800w, ${imgUrl(400)} 400w`,
          sizes="(max-width: 450px) 400px, 800px"
          alt=recipe.title
        )
      #title-wrapper
        input#title(type="text", name="title", value=recipe.title, placeholder="Titel")
        input(
          type="hidden", role="uploadcare-uploader", name="recipe_image",
          data-public-key=uploadKey, data-crop="",
          data-image-shrink="2000x2000" data-images-only
        )
        script.
          UPLOADCARE_LOCALE = 'de';
          UPLOADCARE_LOCALE_TRANSLATIONS = {
            buttons: { choose: { images: { one: 'Neues Bild' } } }
          }
          UPLOADCARE_PUBLIC_KEY = '#{uploadcareKey}';
      #number-inputs
        div
          label(for="servings") Portionen
          input#servings(type="number", name="servings", value=recipe.servings, min="1")
        div
          label(for="duration") Minuten
          input#duration(type="number", name="duration", value=recipe.duration, min="1")
      #misc-inputs
        div
          form#difficulty
            label.input-container
              span.content Einfach
              input(type="radio", name="difficulty", value="1", checked=recipe.difficulty == 1)
              span.checkmark.radio
            label.input-container
              span.content Mittel
              input(type="radio", name="difficulty", value="2", checked=recipe.difficulty == 2)
              span.checkmark.radio
            label.input-container
              span.content Schwer
              input(type="radio", name="difficulty", value="3", checked=recipe.difficulty == 3)
              span.checkmark.radio
        div#veggie-options
          label.input-container
            | Vegetarisch
            input(type="checkbox", name="Vegetarisch", checked=recipe.categories.indexOf('Vegetarisch') !== -1)
            span.checkmark.box
          label.input-container
            | Vegan
            input(type="checkbox", name="Vegan", checked=recipe.categories.indexOf('Vegan') !== -1)
            span.checkmark.box
      h2 Zutaten
      #ingredients-container
        #ingredients
          each ingr in recipe.ingredients
            .ingredient
              input(type="text", name="name", value=ingr.name, placeholder="Zutat")
              input(type="text", name="hint", value=ingr.hint, placeholder="Hinweis")
              button.remove x
        label(for="new-ingredient") Neue Zutat
        #new-ingredient.ingredient
          input.name(type="text", name="name", placeholder="Zutat")
          input.hint(type="text", name="hint", placeholder="Hinweis")
      h2 Beschreibung
      textarea#description(rows="6", placeholder="Markdown verfügbar")= recipe.description
      h2 Kategorien
      #categories-container
        #categories
          each ctg in recipe.categories.filter(ctg => ctg !== 'Vegetarisch' && ctg !== 'Vegan')
            div
              span.ctg= ctg
              button.remove x
        label(for="category") Neue Kategorie
        input(type="text", name="category", placeholder="Enter drücken zum Hinzufügen", autocomplete="off")
        div#autocomplete-items
      button#save.inverted Rezept speichern
    script(src="/scripts/src/recipe-form.js")  
