doctype html
html(lang="de")
  head
    title= recipe.title
    include includes/meta.pug
    link(rel="stylesheet", href="/css/recipe.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Open+Sans:400,400i,600i,700")
  body
    .container
      h1.recipe-title= recipe.title
      if recipe.heroImage
        img.recipe-img(
          src=recipe.heroImage,
          srcset=`${recipe.heroImage.replace('w:2000', 'w:600')} 600w, ${recipe.heroImage} 2000w`,
          sizes="(max-width: 650px) 600px, 2000px"
          alt=recipe.title
        )
      .recipe-info
        div.duration #{recipe.duration} Minuten
        .categories
          each ctg in recipe.categories
            span= ctg
      .recipe-main
        div
          h2.servings-header
            span Zutaten
            .servings-control
              button.down -
              span#servings= recipe.servings
              button.up +
          ul#ingredients
            each ingr in recipe.ingredients
              li
                span.name(data-name=ingr.name)= ingr.name
                span.hint= ingr.hint ? ` (${ingr.hint})` : ''
        div
          h2 Zubereitung
          .border-bottom
          div.description !{descriptionHtml}
    script(src="/scripts/lib/recipe.js")
