doctype html
html(lang="de")
  head
    title= recipe.title
    include includes/meta.pug
    link(rel="stylesheet", href="/css/recipe.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Open+Sans:400,400i,600i,700")
  body
    .container
      #all-recipes
        a(href="/")
          svg.icon.icon-arrow-left2
            use(xlink:href='#icon-arrow-left2')
          | Alle Rezepte
      h1.recipe-title= recipe.title
      if recipe.heroImage
        img.recipe-img(
          src=recipe.heroImage.replace('w:2000', 'w:600'),
          srcset=`${recipe.heroImage.replace('w:2000', 'w:600')} 600w, ${recipe.heroImage} 2000w`,
          sizes="(max-width: 650px) 600px, 2000px"
          alt=recipe.title
        )
      .recipe-info
        div.duration #{recipe.duration} Minuten
        .categories
          each ctg in recipe.categories
            span= ctg
      .recipe-main
        div
          h2.servings-header
            span Zutaten
            .servings-control
              button.down -
              span#servings= recipe.servings
              button.up +
          ul#ingredients
            each ingr in recipe.ingredients
              li
                span.name(data-name=ingr.name)= ingr.name
                span.hint= ingr.hint ? ` (${ingr.hint})` : ''
        div
          h2 Zubereitung
          .border-bottom
          div.description !{descriptionHtml}
      #buttons
        if session.authenticated
          a.button(href=`/recipe/${recipe._id}/edit`) Bearbeiten
        a.button(href=`/pdf/recipe/${recipe._id}` download) PDF
    script(src="/scripts/lib/recipe.js")
    svg(aria-hidden='true' style='position: absolute; width: 0; height: 0; overflow: hidden;' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
      defs
      symbol#icon-arrow-left2(viewbox='0 0 32 32')
        title arrow-left2
        path(d='M12.586 27.414l-10-10c-0.781-0.781-0.781-2.047 0-2.828l10-10c0.781-0.781 2.047-0.781 2.828 0s0.781 2.047 0 2.828l-6.586 6.586h19.172c1.105 0 2 0.895 2 2s-0.895 2-2 2h-19.172l6.586 6.586c0.39 0.39 0.586 0.902 0.586 1.414s-0.195 1.024-0.586 1.414c-0.781 0.781-2.047 0.781-2.828 0z')
