doctype html
html(lang="de")
  head
    title= recipe.title
    include includes/meta.pug
    link(rel="stylesheet", href="/css/recipe.css")
  body
    #top-bar-container
      #top-bar
        a(href="/")
          svg.icon.icon-arrow-left2
            use(xlink:href='#icon-arrow-left2')
          | Alle Rezepte
        if session.planCode
          a(href=`/plan/new?recipe=${recipe._id}`) Zum Wochenplan
    .container
      h1.recipe-title= recipe.title
      if recipe.image
        - var imgUrl = (width, highRes=false) => recipe.image.concat(`-/resize/${highRes ? width * 2 : width}x/`, `-/quality/${doubleRes ? 'lightest' : 'lighter'}/`, '-/progressive/yes/')
        mixin source(width, sizes='100vw')
          source(media=`(min-width: ${width}px)` srcset=`${imgUrl(width)}, ${imgUrl(width, true)} 2x` sizes=sizes)
        picture
          +source(1000, '1000px')
          +source(800)
          +source(600)
          +source(400)
          img.recipe-img(src=imgUrl(1000), alt=recipe.title)
      .recipe-info
        div.duration #{recipe.duration} Minuten
        .categories
          each ctg in recipe.categories
            span= ctg
      .recipe-main
        div
          h2.servings-header
            span Zutaten
            .servings-control
              button.down -
              span#servings(data-original=recipe.servings)= servings
              button.up +
          ul#ingredients(data-listcode=session.listCode)
            each ingr in recipe.ingredients
              li
                .content
                  span.name(data-name=ingr.name)= ingr.name
                  span.hint= ingr.hint ? ` (${ingr.hint})` : ''
                if session.listCode
                  button.cart
                    svg.icon
                      use(xlink:href='#icon-add_shopping_cart')
        div
          h2 Zubereitung
          .border-bottom
          div.description !{descriptionHtml}
      #buttons
        if session.authenticated
          a.button(href=`/recipe/${recipe._id}/edit`) Bearbeiten
        button.button#cooking-mode Kochmodus
        a.button(href=`/pdf/recipe/${recipe._id}` download) PDF
    div#toast
    script(src="/scripts/nosleep.js")
    script(src="/scripts/lib/recipe.js")
    include includes/arrow-icon.pug
    include includes/cart-icon.pug